@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--background-color: #ffffff;
	--foreground-50: #f8fafc;
	--foreground-100: #f1f5f9;
	--foreground-200: #e2e8f0;
	--foreground-300: #cbd5e1;
	--foreground-400: #94a3b8;
	--foreground-500: #64748b;
	--foreground-600: #475569;
	--foreground-700: #334155;
	--foreground-800: #1e293b;
	--foreground-900: #0f172a;

	font-family: var(--font-body);
	color: var(--foreground-900);
}

:root[class~='dark'] {
	--background-color: #1e212b;

	--foreground-50: #0f172a;
	--foreground-100: #1e293b;
	--foreground-200: #334155;
	--foreground-300: #475569;
	--foreground-400: #64748b;
	--foreground-500: #94a3b8;
	--foreground-600: #cbd5e1;
	--foreground-700: #e2e8f0;
	--foreground-800: #f1f5f9;
	--foreground-900: #f8fafc;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background-color: var(--background-color);
	transition: all;
	transition-duration: 200ms;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
